.utilize-container {
    width: 100%;
    height: 65rem;
}



.util-wrap {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;    
}



.util-card {
    width: 25%;
    height: 30rem;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 6.75076px;
    padding: 20px 20px;
    margin: 0px 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.util-card:hover {
    background-color: #301446;
    color: #fff;    
    transition: all 0.3s ease-in-out;
}

.util-card img {
    width: 25%;
    margin: 20px 0px;
    
} 

.util-card h3 {
   font-size: 12px;    
  line-height: 1.7;
}

.u-header {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .u-header-h1 {
    font-size: 3rem;
    padding-bottom: 20px;
  }
  
  
  .heading{
    font-size: 3rem;
  }
  

@media screen and (max-width: 769px) {
    .utilize-container {
        height: 150rem;
    }


    .util-wrap {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;    
    }

    .util-header {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .util-header-h1 {
        font-size: 2.7rem;
        padding-bottom: 20px;
      }

    .util-card {
        width: 80%;
        height: 28rem;
        margin: 2% 0px;
    }

    .util-card img {
        width: 25%;
        margin: 20px 85px;
        
    }

    .u-header {
        padding: 0rem 0px;
    }

    .para{
        font-size: 1.2rem;
    }
    
    .heading{
        font-size: 2rem;
    }
    
    
}


